# Python Pandas Grouping and Aggregating - Analyzing and Exploting Data
---
In this Python Programming notebook, we will be learning how to group and aggregate our data. We will be able to answer questions such as: "What is the most popular social media site for each country?" We will be using the groupby method, and also some aggregate functions such as mean, median, value_counts, etc. Let's get started...

> ## Import Required Modules

In [3]:
import pandas as pd

> ## Import the Dataset

In [4]:
df = pd.read_csv('./survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('./survey_results_schema.csv', index_col='Column')

In [6]:
df.head(3)

                                MainBranch Hobbyist  ...  YearsCode YearsCodePro
Respondent                                           ...
1           I am a developer by profession      Yes  ...         36           27
2           I am a developer by profession       No  ...          7            4
3              I code primarily as a hobby      Yes  ...          4          NaN

[3 rows x 60 columns]

In [7]:
schema_df.head()

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?
Age         What is your age (in years)? If you prefer not...
Age1stCode  At what age did you write your first line of c...

In [8]:
df.shape, schema_df.shape

((55681, 60), (61, 1))

In [9]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [10]:
df['ConvertedComp'].head(15)

Respondent
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8     116000.0
9          NaN
10     32315.0
11     40070.0
12     14268.0
13     38916.0
14     66000.0
15         NaN
Name: ConvertedComp, dtype: float64

In [11]:
df['ConvertedComp'].median()

54116.0

In [12]:
df.median()

Age                 29.0
CompTotal        65000.0
ConvertedComp    54116.0
WorkWeekHrs         40.0
dtype: float64

In [13]:
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  40989.000000   3.140900e+04   3.134600e+04  37144.000000
mean      30.920991  3.537556e+242   1.034642e+05     40.827710
std        9.565076            inf   2.237661e+05     17.841807
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.519800e+04     40.000000
50%       29.000000   6.500000e+04   5.411600e+04     40.000000
75%       35.000000   1.250000e+05   9.600000e+04     43.625000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [ ]:
df.isnull().sum()

In [15]:
df.ConvertedComp.count()

31346

In [17]:
df.Hobbyist

Respondent
1        Yes
2         No
3        Yes
4        Yes
5        Yes
        ...
56794    Yes
56795    Yes
56796    Yes
56797    Yes
56798    Yes
Name: Hobbyist, Length: 55681, dtype: object

In [18]:
df['Hobbyist'].value_counts()

Yes    43413
No     12231
Name: Hobbyist, dtype: int64

In [19]:
df['Hobbyist'].value_counts(normalize=True)

Yes    0.780192
No     0.219808
Name: Hobbyist, dtype: float64

In [22]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [30]:
df['Country']

Respondent
1                   Germany
2            United Kingdom
3        Russian Federation
4                   Albania
5             United States
                ...
56794          South Africa
56795                France
56796                Sweden
56797              Thailand
56798               Denmark
Name: Country, Length: 55681, dtype: object

In [31]:
df['Country'].value_counts()

United States                         11109
India                                  7301
United Kingdom                         3474
Germany                                3429
Canada                                 1953
                                      ...
Micronesia, Federated States of...        1
Nauru                                     1
Liechtenstein                             1
Grenada                                   1
Monaco                                    1
Name: Country, Length: 180, dtype: int64

In [32]:
df['Country'].value_counts(normalize=True)

United States                         0.200404
India                                 0.131709
United Kingdom                        0.062670
Germany                               0.061858
Canada                                0.035232
                                        ...
Micronesia, Federated States of...    0.000018
Nauru                                 0.000018
Liechtenstein                         0.000018
Grenada                               0.000018
Monaco                                0.000018
Name: Country, Length: 180, dtype: float64

In [33]:
country_grp = df.groupby(['Country'])

In [35]:
country_grp.get_group('United States').head(2)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,MongoDB,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Remote work options;Opportunities for professi...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",JavaScript,Python;SQL,Unity 3D,Ansible,NaN,Confluence;Jira;Github;Slack;Microsoft Teams;G...,Yes,Extremely important,Not at all important/not necessary,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Linux-based,20 to 99 employees,iOS;Slack Apps and Integrations,Docker,I have some influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13

In [36]:
df.groupby(['Country']).get_group('India').head(2)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,NaN,NaN,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very satisfied,"I’m not actively looking, but I am open to new...",C#;HTML/CSS;PHP,C#;HTML/CSS;PHP,NaN,NaN,NaN,NaN,Yes,Extremely important,Very important,Better compensation;Growth or leadership oppor...,"Read company media, such as employee blogs or ...",Every few months,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Windows,20 to 99 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,NaN,NaN,"Developer, full-stack;Engineer, data","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,NaN,Slightly dissatisfied,I am actively looking for a job,Java;JavaScript;Python,Java;Python,NaN,NaN,NaN,NaN,Not sure,NaN,Very important,Better compensation;Better work/life balance;W...,Company reviews from third party sites (e.g. G...,Every few months,No,Yes,No,Often: 1-2 days per week or more,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Windows,500 to 999 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2

In [40]:
filt = df['Country'] == 'India'
df[filt].head(2)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,NaN,NaN,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very satisfied,"I’m not actively looking, but I am open to new...",C#;HTML/CSS;PHP,C#;HTML/CSS;PHP,NaN,NaN,NaN,NaN,Yes,Extremely important,Very important,Better compensation;Growth or leadership oppor...,"Read company media, such as employee blogs or ...",Every few months,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Windows,20 to 99 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,NaN,NaN,"Developer, full-stack;Engineer, data","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,NaN,Slightly dissatisfied,I am actively looking for a job,Java;JavaScript;Python,Java;Python,NaN,NaN,NaN,NaN,Not sure,NaN,Very important,Better compensation;Better work/life balance;W...,Company reviews from third party sites (e.g. G...,Every few months,No,Yes,No,Often: 1-2 days per week or more,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Windows,500 to 999 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2

In [45]:
filt = df['Country'] == 'United States'
df[filt]['OpSys'].value_counts()

Windows        4478
MacOS          3673
Linux-based    2171
BSD               7
Name: OpSys, dtype: int64

In [46]:
filt = df['Country'] == 'India'
df[filt]['OpSys'].value_counts()

Windows        3062
Linux-based    1886
MacOS          1077
BSD               5
Name: OpSys, dtype: int64

In [51]:
df[df['Country'] == 'India']['OpSys'].value_counts(normalize=True)

Windows        0.507794
Linux-based    0.312769
MacOS          0.178607
BSD            0.000829
Name: OpSys, dtype: float64

In [54]:
country_grp['OpSys'].value_counts().head(25)

Country      OpSys
Afghanistan  Windows         28
             Linux-based      5
             MacOS            4
Albania      Windows         22
             Linux-based      6
             MacOS            5
Algeria      Windows         35
             Linux-based     17
             MacOS            4
             BSD              1
Andorra      Linux-based      3
             Windows          2
             BSD              1
Angola       Windows          2
             Linux-based      1
Argentina    Windows        109
             Linux-based     99
             MacOS           60
Armenia      Linux-based     18
             Windows         17
             MacOS           10
Australia    Windows        480
             MacOS          351
             Linux-based    190
Austria      Windows        242
Name: OpSys, dtype: int64

In [55]:
country_grp['OpSys'].value_counts().loc['India']

OpSys
Windows        3062
Linux-based    1886
MacOS          1077
BSD               5
Name: OpSys, dtype: int64

In [56]:
country_grp['OpSys'].value_counts().loc['China']

OpSys
Windows        129
MacOS           57
Linux-based     49
BSD              1
Name: OpSys, dtype: int64

In [57]:
country_grp['OpSys'].value_counts().loc['Pakistan']

OpSys
Windows        355
Linux-based    138
MacOS           82
Name: OpSys, dtype: int64

In [58]:
country_grp['ConvertedComp'].median()

Country
Afghanistan                               8016.0
Albania                                  15900.0
Algeria                                  10958.0
Andorra                                 141608.0
Angola                                    4848.0
                                          ...
Venezuela, Bolivarian Republic of...      4200.0
Viet Nam                                 11644.0
Yemen                                        NaN
Zambia                                   12542.0
Zimbabwe                                  8600.0
Name: ConvertedComp, Length: 180, dtype: float64

In [60]:
df.groupby(['Country'])['ConvertedComp'].median().loc['India']

10056.0

In [61]:
df.groupby(['Country'])['ConvertedComp'].agg(['median', 'mean'])

                                        median           mean
Country
Afghanistan                             8016.0   27618.473684
Albania                                15900.0   26342.666667
Algeria                                10958.0   12245.333333
Andorra                               141608.0  141608.000000
Angola                                  4848.0    4848.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    4200.0    7485.583333
Viet Nam                               11644.0   29885.835052
Yemen                                      NaN            NaN
Zambia                                 12542.0   21679.000000
Zimbabwe                                8600.0   28612.000000

[180 rows x 2 columns]

In [62]:
df.groupby(['Country'])['ConvertedComp'].agg(['median', 'mean']).loc['Canada']

median     68068.00000
mean      112774.73987
Name: Canada, dtype: float64

In [63]:
filt = df['Country'] == 'India'
df[filt]['LanguageWorkedWith'].str.contains('Python')

Respondent
7        False
22        True
58       False
63        True
149      False
         ...
56728      NaN
56756     True
56762    False
56767    False
56778     True
Name: LanguageWorkedWith, Length: 7301, dtype: object

In [64]:
df[filt]['LanguageWorkedWith'].str.contains('Python').sum()

2367

In [66]:
df.groupby(['Country'])['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: ignored

In [67]:
df.groupby(['Country'])['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                             11
Albania                                 12
Algeria                                 31
Andorra                                  2
Angola                                   1
                                        ..
Venezuela, Bolivarian Republic of...    22
Viet Nam                                92
Yemen                                    1
Zambia                                   2
Zimbabwe                                13
Name: LanguageWorkedWith, Length: 180, dtype: int64

> What % of people from each country know Python?

In [69]:
country_resp = df['Country'].value_counts()
country_resp

United States                         11109
India                                  7301
United Kingdom                         3474
Germany                                3429
Canada                                 1953
                                      ...
Micronesia, Federated States of...        1
Nauru                                     1
Liechtenstein                             1
Grenada                                   1
Monaco                                    1
Name: Country, Length: 180, dtype: int64

In [71]:
country_uses_python = df.groupby(['Country'])['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                             11
Albania                                 12
Algeria                                 31
Andorra                                  2
Angola                                   1
                                        ..
Venezuela, Bolivarian Republic of...    22
Viet Nam                                92
Yemen                                    1
Zambia                                   2
Zimbabwe                                13
Name: LanguageWorkedWith, Length: 180, dtype: int64

In [81]:
python_df = pd.concat([country_resp, country_uses_python], axis=1, sort=False)
python_df

                                    Country  LanguageWorkedWith
United States                         11109                5372
India                                  7301                2367
United Kingdom                         3474                1453
Germany                                3429                1527
Canada                                 1953                 911
...                                     ...                 ...
Micronesia, Federated States of...        1                   1
Nauru                                     1                   0
Liechtenstein                             1                   0
Grenada                                   1                   0
Monaco                                    1                   0

[180 rows x 2 columns]

In [83]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)
python_df.head()

                NumRespondents  NumKnowsPython
United States            11109            5372
India                     7301            2367
United Kingdom            3474            1453
Germany                   3429            1527
Canada                    1953             911

In [86]:
python_df['PctKnowsPython'] = (python_df.NumKnowsPython / python_df.NumRespondents) * 100
python_df.head()

                NumRespondents  NumKnowsPython  PctKnowsPython
United States            11109            5372       48.357188
India                     7301            2367       32.420216
United Kingdom            3474            1453       41.824986
Germany                   3429            1527       44.531934
Canada                    1953             911       46.646185

In [88]:
python_df.sort_values(by = 'PctKnowsPython', ascending=False, inplace=True)
python_df

,NumRespondents,NumKnowsPython,PctKnowsPython
"Micronesia, Federated States of...",1,1,100.000000
Solomon Islands,1,1,100.000000
Saint Lucia,1,1,100.000000
Montenegro,10,8,80.000000
Brunei Darussalam,3,2,66.666667
...,...,...,...
Nauru,1,0,0.000000
Liechtenstein,1,0,0.000000
Grenada,1,0,0.000000
Niger,4,0,0.000000
Monaco,1,0,0.000000

In [89]:
python_df.PctKnowsPython.sort_values(ascending=False)

Micronesia, Federated States of...    100.000000
Solomon Islands                       100.000000
Saint Lucia                           100.000000
Montenegro                             80.000000
Brunei Darussalam                      66.666667
                                         ...
Antigua and Barbuda                     0.000000
Saint Vincent and the Grenadines        0.000000
Guinea                                  0.000000
Lesotho                                 0.000000
Monaco                                  0.000000
Name: PctKnowsPython, Length: 180, dtype: float64

In [90]:
python_df.head(50)

,NumRespondents,NumKnowsPython,PctKnowsPython
"Micronesia, Federated States of...",1,1,100.000000
Solomon Islands,1,1,100.000000
Saint Lucia,1,1,100.000000
Montenegro,10,8,80.000000
Brunei Darussalam,3,2,66.666667
Mauritania,3,2,66.666667
Burkina Faso,5,3,60.000000
Lao People's Democratic Republic,5,3,60.000000
Swaziland,5,3,60.000000
Uganda,59,32,54.237288
Finland,312,167,53.525641
Iceland,51,27,52.941176
Cameroon,29,15,51.724138
Eritrea,2,1,50.000000
Papua New Guinea,2,1,50.000000
Guyana,4,2,50.000000
Jamaica,10,5,50.000000
Trinidad and Tobago,6,3,50.000000
Timor-Leste,2,1,50.000000
Ecuador,41,20,48.780488
United States,11109,5372,48.357188
Costa Rica,60,29,48.333333
Zimbabwe,27,13,48.148148
Senegal,19,9,47.368421
Israel,588,277,47.108844
Qatar,17,8,47.058824
China,286,134,46.853147
Canada,1953,911,46.646185
Taiwan,142,66,46.478873
Estonia,134,62,46.268657
Côte d'Ivoire,13,6,46.153846
Japan,256,118,46.093750
Algeria,68,31,45.588235
Ireland,407,185,45.454545
France,1646,743,45.139733
Germany,3429,1527,44.531934
Australia,1092,486,44.505495
Malta,43,19,44.186047
Switzerland,572,252,44.055944
Singapore,209,92,44.019139
"Venezuela, Bolivarian Republic of...",50,22,44.000000
Slovenia,141,61,43.262411
Benin,7,3,42.857143
Democratic Republic of the Congo,7,3,42.857143
Norway,339,144,42.477876
South Korea,174,73,41.954023
United Kingdom,3474,1453,41.824986
Syrian Arab Republic,12,5,41.666667
Kenya,221,92,41.628959
Netherlands,1174,487,41.482112

In [91]:
python_df.loc['India']

NumRespondents    7301.000000
NumKnowsPython    2367.000000
PctKnowsPython      32.420216
Name: India, dtype: float64